body{
    background-color: darkblue;
    font-family: 'Oswald', sans-serif;
    padding-top: 106px;
}

   
.h1{
    color: aliceblue;
    font-size: 20px;
}
h3{
    color: antiquewhite;
    text-decoration: underline;
}
h6{
    color: antiquewhite;
}

.navbar{
    color: aliceblue;
    background-color:darkblue ;
    margin-bottom: 10px;
    
}
.nav-link{
    color: aliceblue;
    text-decoration: none;
}
.card-text{
    margin-top: 6px;
    margin-bottom: 6px;
    list-style: none;
}
.center{
    text-align: center;
}

.card{
    padding: 14px;
    margin: 4px;
}
.footer{
    border-top: darkseagreen 3px solid;
    
    padding-top: 15px;
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center;
    height: 200px;
    min-height: 60px;
    color: antiquewhite;
    
}
.bi{
    padding: 4px;
    color: antiquewhite;
    font-size: 15px;
}
.bi:hover{
    background-color:darkslateblue;
   
}
